<!-- Intro -->
<div id="intro">
    <h1>
        Добро пожаловать!
    </h1>
    <p>
        Вашему вниманию предлагается<br />
        веб-сервис по созданию пользователей и мессенджер.
    </p>
    <ul class="actions">
        <li><a href="#nav" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>