<!-- Main -->
<div id="main">
    <header class="major">
        <h2>
            Давайте начнём!
        </h2>
        <a href="/usermanagement/adduser" class="button primary">Создание пользователей</a>
        <a href="/messenger/send" class="button primary">Мессенджер пользователей</a>
    </header>

</div>
