<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="/">Главная</a></li>
        <li class="active"><a href="/usermanagement/adduser">Добавление пользователя</a></li>
        <li><a href="/messenger/send">Мессенджер</a></li>
    </ul>
    <ul class="icons">
        <li><a href="https://github.com/ENTER-ALT" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>